<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WCS配置</title>
    <link rel="stylesheet" type="text/css" th:href="@{/page/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/page/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/page/css/normalize.css}">

    <script type="text/javascript" th:src="@{/page/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/page/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/page/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/page/wcs/configWcs.js}"></script>
</head>
<body>
<div align="center">
    <h2 style="color:#0078CA;font-size: 20px;">WCS配置</h2>
</div>
<div align="center">
    <h4 style="color:#0078CA;font-size: 20px;">空箱回收线当前设置：<span id="current"></span></h4>
    <h4 style="color:#0078CA;font-size: 20px;">修改空箱回收线设置：<select class="easyui-combobox" style="width:120px;" id="value">
        <option value="Y">入4#箱库</option>
        <option value="N">差异口回收</option>
    </select><a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitConfig()">提交</a></h4>
</div>
</body>
</html>